files:
  "/home/ec2-user/seed_database.sql":
    mode: "six-digit octal value"
    owner: root
    group: root
    source: https://github.com/nandukalidindi/rails-twittmap/blob/master/seed_database.sql

commands:
  1_install_postgres:
    command: "sudo yum install postgresql postgresql-server postgresql-devel postgresql-contrib postgresql-docs"
  2_initialize_database:
    command: "sudo service postgresql initdb"
  3_start_postgres:
    command: "sudo service postgresql start"

container_commands:
  1_login_as_postgres:
    command: "sudo su - postgres"
  2_execute_sql_script:
    command: "psql /home/ec2-user/seed_database.sql"
