files:
  "/home/ec2-user/seed_database.sql":
    mode: "000755"
    owner: root
    group: root
    content: |
      CREATE USER twittmap SUPERUSER;
      ALTER USER twittmap WITH PASSWORD 'twitter';
      CREATE DATABASE twittmap_production WITH OWNER twittmap;

commands:
  1_install_postgres:
    command: "sudo yum -y install postgresql postgresql-server postgresql-devel postgresql-contrib postgresql-docs"
  2_initialize_database:
    command: "sudo service postgresql initdb"
    ignoreErrors: true
  3_start_postgres:
    command: "sudo service postgresql start"

container_commands:
  1_login_as_postgres:
    command: "sudo su - postgres"
  2_execute_sql_script:
    command: "psql /home/ec2-user/seed_database.sql"
