commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/install_gems.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      gem install nokogiri -v '1.7.0.1'
      gem install http_parser.rb -v '0.6.0'
