<body>
    <header>
  <div id="header_content">
    <h2>The one million tweet map</h2>
<!--     <div style="color:orange">The map is rebuilding, tweets on the map will grow up to one million</div> -->
    <div id="maptimize_power">
      <span>powered by</span>
      <a href="#" data-reveal-id="myModal" data-animation="fade">
        <img src="/assets/logo-9e222f761c44765156c673332e68563e.png" class="anim" alt="maptimize" width="147" height="37">
      </a>
    </div>
    <div id="toggle_panel">+</div>
  </div>
</header>

<div id="sidebar">
  <div class="viewport scrollable">
    <div class="overview" style="top: 0px;">
      <div class="block center first" id="since_block">
        <h4>Tweets since page load</h4>
        <div id="counter_since">
          <span class="n">-</span><span class="n">-</span><span class="n">-</span><span class="n">4</span><span class="n">9</span><span class="n">3</span><span class="n">4</span>
        </div>
      </div>
      <div class="block center" id="switch_block">
        <div class="clear"></div>
        <div id="filter_search">
          <form action="#" onsubmit="return false">
            <span></span>
            <input type="text" name="search" placeholder="keywords filter" data-condition-type="string" data-condition="(text:? OR user.screen_name:*?*)">
          </form>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div id="filter_twitter2">
          <form action="#" onsubmit="return false">
            <span></span>
            <input type="text" id="tagsfield" name="search" placeholder="hashtags filter " data-condition-type="string" data-condition="hashtags:?">
          </form>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div id="hashtags">
          <p class="exemple">5 most popular hashtags<br>  <span id="popular_tags"><a href="">job</a>&nbsp;(20516) <a href="">hiring</a>&nbsp;(18327) <a href="">careerarc</a>&nbsp;(9411) <a href="">jobs</a>&nbsp;(4406) <a href="">hospitality</a>&nbsp;(2982) </span></p>
          <div class="clear"></div>
        </div>
        <form class="custom" id="timerange">

          <div class="custom dropdown" style="width: 171px;">
            <a href="#" class="current">No Time Filtering</a>
            <a href="#" class="selector"></a>
            <ul style="width: 171px;"><li class="selected">No Time Filtering</li><li>last 5 minutes</li><li>last 10 minutes</li><li>last 15 minutes</li><li>last 30 minutes</li><li>last hour</li><li>last 2 hours</li><li>last 3 hours</li><li>last 4 hours</li><li>last 5 hours</li><li>last 6 hours</li></ul></div>


        </form>
        <div class="clear"></div>
      </div>
      <div class="block center" id="reset">
        <p>If you want to start with a blank map, click on reset map button (reload the page to see all tweets again).</p>
        <a href="" class="button" id="reset">Reset map</a>
      </div>

      <div class="block center" id="twitter">
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fonemilliontweetmap.com%2F&amp;related=sgruhier&amp;size=m&amp;text=Last%20million%20tweets%20on%20a%20map%20in%20real-time%20%23onemilliontweetmap&amp;time=1489115928736&amp;type=share&amp;url=http%3A%2F%2Fonemilliontweetmap.com%2F&amp;via=maptimize" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="reveal-modal expand">
  <h2>About this demo</h2>

  <p>
    This page maps the last <u>geolocalized</u> tweets delivered by the twitter stream API.<br>
    Map data is updated in real-time - YES - IN REAL-TIME - and we keep "only" the last one million tweets.<br>
    Each second, about fifty new tweets are added (and the fifty oldest tweets are removed to keep the same number of points on the map).
    We are limited by twitter stream but we could do much higher.
  </p>
  <p>
    Play with filters and check the nice heatmap rendering!
  </p>
  <p style="float:left">
    We hope you have fun with it. Feel free to share that page on twitter. Thanks!
  </p>
    <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=true&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fonemilliontweetmap.com%2F&amp;related=sgruhier&amp;size=m&amp;text=The%20one%20million%20tweet%20map%20%23onemilliontweetmap&amp;time=1489115928738&amp;type=share&amp;url=http%3A%2F%2Fonemilliontweetmap.com%2F&amp;via=maptimize" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <h2>About maptimize</h2>
  <p>This demo shows the power of the new <a href="http://v3.maptimize.com/" target="_blank">maptimize</a> engine.
  You'll find more information on our <a href="http://v3.maptimize.com/" target="_blank">website</a> and <a href="http://elasticsearch-plugin.maptimize.com" target="_blank">our sofware page</a></p>
  <a class="close-reveal-modal">×</a>
</div>

  <script src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false"></script>

<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>  -->
  <script type="text/javascript" src="http://api.maptimize.com/assets/v1/leaflet_clusterer.js"></script>
<script src="/assets/application-cc355c104200cbe68bbdbb8aba5cae69.js" type="application/javascript"></script><script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=e32VTKpJGrgCQBOqinDh04ncyFrNBk1T"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35385050-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe></body>
