<body>
    <header>
  <div id="header_content">
    <h2>The one million tweet map</h2>
<!--     <div style="color:orange">The map is rebuilding, tweets on the map will grow up to one million</div> -->
    <div id="maptimize_power">
      <span>powered by</span>
      <a href="#" data-reveal-id="myModal" data-animation="fade">
        <img src="/assets/logo-9e222f761c44765156c673332e68563e.png" class="anim" alt="maptimize" width="147" height="37">
      </a>
    </div>
    <div id="toggle_panel">+</div>
  </div>
</header>

<div id="sidebar">
  <div class="viewport scrollable">
    <div class="overview" style="top: 0px;">
      <div class="block center first" id="since_block">
        <h4>Tweets since page load</h4>
        <div id="counter_since">
          <span class="n">-</span><span class="n">-</span><span class="n">-</span><span class="n">4</span><span class="n">9</span><span class="n">3</span><span class="n">4</span>
        </div>
      </div>
      <div class="block center" id="switch_block">
        <div class="clear"></div>
        <div id="filter_search">
          <form action="#" onsubmit="return false">
            <span></span>
            <input type="text" name="search" placeholder="keywords filter" data-condition-type="string" data-condition="(text:? OR user.screen_name:*?*)">
          </form>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div id="filter_twitter2">
          <form action="#" onsubmit="return false">
            <span></span>
            <input type="text" id="tagsfield" name="search" placeholder="hashtags filter " data-condition-type="string" data-condition="hashtags:?">
          </form>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div id="hashtags">
          <p class="exemple">5 most popular hashtags<br>  <span id="popular_tags"><a href="">job</a>&nbsp;(20516) <a href="">hiring</a>&nbsp;(18327) <a href="">careerarc</a>&nbsp;(9411) <a href="">jobs</a>&nbsp;(4406) <a href="">hospitality</a>&nbsp;(2982) </span></p>
          <div class="clear"></div>
        </div>
        <form class="custom" id="timerange">

          <div class="custom dropdown" style="width: 171px;">
            <a href="#" class="current">No Time Filtering</a>
            <a href="#" class="selector"></a>
            <ul style="width: 171px;"><li class="selected">No Time Filtering</li><li>last 5 minutes</li><li>last 10 minutes</li><li>last 15 minutes</li><li>last 30 minutes</li><li>last hour</li><li>last 2 hours</li><li>last 3 hours</li><li>last 4 hours</li><li>last 5 hours</li><li>last 6 hours</li></ul></div>


        </form>
        <div class="clear"></div>
      </div>
      <div class="block center" id="reset">
        <p>If you want to start with a blank map, click on reset map button (reload the page to see all tweets again).</p>
        <a href="" class="button" id="reset">Reset map</a>
      </div>

      <div class="block center" id="twitter">
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.a0ec3119d8db2bc5422f2144c89ad7a9.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fonemilliontweetmap.com%2F&amp;related=sgruhier&amp;size=m&amp;text=Last%20million%20tweets%20on%20a%20map%20in%20real-time%20%23onemilliontweetmap&amp;time=1489115928736&amp;type=share&amp;url=http%3A%2F%2Fonemilliontweetmap.com%2F&amp;via=maptimize" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
